@page "/businesscell"
@namespace AdvCap.Client.Components

<div class="card mb-3 @GetCardClass()">
    <div class="card-body">
        @if (IsUnlocked)
        {
            <div class="row align-items-center">
                <div class="col-3 text-center">
                    <img src="@BusinessConfig.Image" @onclick="StartWork" class="img-fluid business-image @GetImageClass()" />
                </div>
                <div class="col-9">
                    <div>@BusinessConfig.Name</div>
                    <div class="progress-container">
                        <div class="progress position-relative w-100 custom-progress">
                            <div class="progress-bar custom-progress-bar" role="progressbar" style="width: @ProgressPercentage%;" aria-valuenow="@ProgressPercentage" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-bar-text">@ProfitText</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-3">
                    <div class="progress amount-progress position-relative" style="width: 140px;">
                        <div class="progress-bar amount-progress-bar" role="progressbar" style="width: @AmountProgressPercentage%;" aria-valuenow="@AmountProgressPercentage" aria-valuemin="0" aria-valuemax="100">
                        </div>
                        <span class="amount-progress-text">@AmountProgressString</span>
                    </div>
                </div>
                <div class="col-9">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-buy mt-2 flex-grow-1 me-2" @onclick="UpgradeBusiness">BUY @UpgradeCostString</button>
                        @if (!IsManagerHired)
                        {
                            <button class="btn btn-success mt-2 me-2" @onclick="OpenManagerPopup">Hire Manager</button>
                        }
                        <div class="btn btn-secondary mt-2" style="flex-shrink: 0;" disabled>@RemainingTimeString</div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row align-items-center" @onclick="UnlockBusiness" style="cursor: pointer;">
                <div class="col-3 text-center">
                    <img src="@BusinessConfig.Image" class="img-fluid business-image" />
                </div>
                <div class="col-9">
                    <div>@BusinessConfig.Name</div>
                    <div>Cost: @UnlockCostString</div>
                </div>
            </div>
        }
    </div>
</div>

@if (ShowManagerPopup)
{
    <ManagerPopup ManagerID="@ManagerID" OnHire="OnHireManager" OnClose="CloseManagerPopup" />
}
